@use 'abstracts/variables';
@use 'abstracts/mixins';

@use 'base/reset';
@use 'base/tipografia';

@use 'layout/contenedor';
@use 'layout/encabezado';
@use 'layout/main';
@use 'layout/pie_pagina';

@use 'components/botones';
@use 'components/tarjetas';
@use 'components/principal';
@use 'components/caracteristicas';
@use 'components/servicios';
@use 'components/testimonios';
@use 'components/llamada_accion';
