// ============================================================
// CARDS
// ============================================================

.card {
  background: $color-white;
  border-radius: $border-radius-2xl;
  overflow: hidden;
  @include card-hover;
  
  &--service {
    padding: $space-8 $space-6;
    text-align: center;
    border: none;
    box-shadow: $shadow-sm;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 5px;
      @include gradient-primary;
      transform: scaleX(0);
      transition: transform $transition-base;
    }
    
    &:hover::before {
      transform: scaleX(1);
    }
  }
  
  &--testimonial {
    padding: $space-8;
    position: relative;
    border: 1px solid $color-gray-200;
    
    &::before {
      content: '"';
      position: absolute;
      top: $space-4;
      left: $space-6;
      font-size: 4rem;
      color: $color-primary;
      opacity: 0.2;
      font-family: Georgia, serif;
      line-height: 1;
    }
  }
  
  &__icon {
    width: 80px;
    height: 80px;
    @include gradient-primary;
    border-radius: $border-radius-xl;
    @include flex-center;
    margin: 0 auto $space-6;
    font-size: 2rem;
    color: $color-white;
    transition: transform 0.6s ease;
    
    .card:hover & {
      transform: rotateY(360deg);
    }
  }
  
  &__title {
    font-size: $font-size-xl;
    margin-bottom: $space-4;
    color: $color-gray-900;
  }
  
  &__text {
    color: $color-gray-600;
    flex-grow: 1;
    margin-bottom: $space-6;
  }
}