// SECTION
.section {
  padding: $spacing-xxl;
  border-bottom: 3px solid $color-gray-lighter;
  
  &--light {
    background: $bg-secondary;
  }
  
  &__title {
    font-size: $font-size-xlarge;
    color: $color-primary;
    margin-bottom: $spacing-lg;
    padding-bottom: $spacing-sm;
    border-bottom: 3px solid $color-primary;
    display: inline-block;
  }
}
