// ============================================================
// FOOTER
// ============================================================

.footer {
  background: $color-gray-900;
  color: $color-gray-400;
  padding: $space-16 0 $space-8;
  
  &__grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: $space-8;
    
    @include respond-down(lg) {
      grid-template-columns: 1fr 1fr;
    }
    
    @include respond-down(md) {
      grid-template-columns: 1fr;
      text-align: center;
    }
  }
  
  &__brand {
    font-family: $font-primary;
    font-size: $font-size-2xl;
    font-weight: $font-weight-extrabold;
    color: $color-white;
    display: flex;
    align-items: center;
    gap: $space-2;
    margin-bottom: $space-4;
    
    @include respond-down(md) {
      justify-content: center;
    }
    
    i {
      color: $color-primary;
    }
  }
  
  &__text {
    line-height: $line-height-relaxed;
    margin-bottom: $space-6;
  }
  
  &__title {
    color: $color-white;
    font-size: $font-size-lg;
    margin-bottom: $space-6;
    position: relative;
    padding-bottom: $space-3;
    
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 40px;
      height: 3px;
      background: $color-primary;
      border-radius: $border-radius-sm;
      
      @include respond-down(md) {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  
  &__links {
    li {
      margin-bottom: $space-3;
    }
    
    a {
      display: flex;
      align-items: center;
      gap: $space-2;
      transition: all $transition-fast;
      
      @include respond-down(md) {
        justify-content: center;
      }
      
      &:hover {
        color: $color-white;
        transform: translateX(5px);
        
        @include respond-down(md) {
          transform: none;
        }
      }
    }
  }
  
  &__social {
    display: flex;
    gap: $space-3;
    
    @include respond-down(md) {
      justify-content: center;
    }
  }
  
  &__bottom {
    border-top: 1px solid $color-gray-800;
    margin-top: $space-12;
    padding-top: $space-8;
    text-align: center;
    font-size: $font-size-sm;
    
    i {
      color: $color-danger;
    }
  }
}