// GRID
.grid-example {
  &__title {
    @include heading-style($font-size-large, $font-weight-semibold);
    color: $color-primary;
  }
}

.grid-container {
  @include grid(3, $spacing-md);
  background: $color-gray-light;
  padding: $spacing-lg;
  @include border-radius($border-radius-lg);
  margin: $spacing-lg 0;
  @include border(3px, solid, $color-gray-darker);
}

.grid-item {
  color: $text-white;
  padding: $spacing-xl;
  @include border-radius($border-radius-md);
  font-weight: $font-weight-bold;
  text-align: center;
  @include transition(transform);
  
  &:hover { transform: scale(1.05); }
  &--1 { background: $example-red; }
  &--2 { background: $example-orange; }
  &--3 { background: $example-green; }
  &--4 { background: $example-blue; }
  &--5 { background: $example-purple; }
  &--6 { background: $example-teal; }
}
