// ========================================
// COMPONENTE: POSITION
// ========================================

.position-container {
  position: relative;
  height: 500px;
  background: 
    linear-gradient(45deg, $color-gray-lighter 25%, transparent 25%, transparent 75%, $color-gray-lighter 75%, $color-gray-lighter),
    linear-gradient(45deg, $color-gray-lighter 25%, transparent 25%, transparent 75%, $color-gray-lighter 75%, $color-gray-lighter);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  @include border(3px, dashed, $color-gray);
  @include border-radius($border-radius-lg);
  margin: $spacing-lg 0;
}

.position-box {
  padding: $spacing-md $spacing-lg;
  color: $text-white;
  font-weight: $font-weight-bold;
  @include border-radius($border-radius-md);
  @include box-shadow($shadow-md);
  text-align: center;
  min-width: 150px;
  
  &--static {
    position: static;
    background: $color-gray;
    display: inline-block;
    margin: $spacing-sm;
  }
  
  &--relative {
    position: relative;
    background: $example-blue;
    top: 30px;
    left: 50px;
    display: inline-block;
  }
  
  &--absolute {
    position: absolute;
    background: $example-red;
    top: 100px;
    right: 50px;
  }
  
  &--fixed {
    position: fixed;
    background: $example-purple;
    bottom: 20px;
    right: 20px;
    z-index: $z-index-fixed;
  }
  
  &--sticky {
    position: sticky;
    top: 0;
    background: $example-orange;
    z-index: $z-index-sticky;
    margin: $spacing-sm;
  }
}
