// =============================================================================
// RESET
// =============================================================================

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
  scroll-behavior: smooth;
}

body {
  font-family: $font-body;
  background-color: $color-bg;
  color: $color-text-main;
  min-height: 100vh;
  line-height: 1.5;
  overflow-x: hidden;
}

img, svg {
  max-width: 100%;
  display: block;
}

ul, ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}

input, select, textarea {
  font-family: inherit;
}
