// UTILIDADES
.u-text-center { text-align: center; }
.u-text-left { text-align: left; }
.u-text-right { text-align: right; }
.u-mt-sm { margin-top: $spacing-sm; }
.u-mt-md { margin-top: $spacing-md; }
.u-mt-lg { margin-top: $spacing-lg; }
.u-mb-sm { margin-bottom: $spacing-sm; }
.u-mb-md { margin-bottom: $spacing-md; }
.u-mb-lg { margin-bottom: $spacing-lg; }
